/*
 * gDatePicker
 */
.gDatePicker {
	position: absolute;
	background: #26747b;
	border: 3px solid #26747b;
	display: none;
	z-index: 19999999;
	font-family: "MS PGothic", "Osaka", Arial, sans-serif;
	font-size: 13px;
}

.gDatePicker * {
	margin: 0;
	padding: 0;
	color: #000;
	background: transparent;
	border: none;
}

/* parts common */
.gDatePicker table {
	border-collapse: collapse;
	border-spacing: 0;
}

.gDatePicker td,.gDatePicker th {
	text-align: center;
	padding: 4px 0;
}

.gDatePicker td {
	cursor: pointer;
}

.gDatePicker .udp_picker_day,.gDatePicker .udp_picker_month,.gDatePicker .udp_picker_year {
	margin-top: 3px;
}

.gDatePicker .udp_picker_day td,.gDatePicker .udp_picker_day th,.gDatePicker .udp_picker_month td,.gDatePicker .udp_picker_year td {
	background: #e9e9de;
	width: 29px;
	border: 1px solid #30629c;
}

/* header */
.gDatePicker .udp_picker_title td {
	color: #ffffff;
}

.gDatePicker .udp_picker_title .udp_previous,.gDatePicker .udp_picker_title .udp_next {
	width: 27px;
}

.gDatePicker .udp_picker_title .udp_caption {
	font-weight: bold;
}

.gDatePicker .udp_picker_title .udp_hover {
	background: #6fc9d1;
	color: #292929;
}

.gDatePicker .udp_picker_title .udp_blocked {
	color: #999999;
	cursor: default;
}

/* day body */
.gDatePicker .udp_picker_day th {
	background: #ffcc66;
}

.gDatePicker td.udp_outer_month {
	background: #f0f0f0;
	color: #cccccc;
	cursor: default;
}

.gDatePicker td.udp_outer_month_selectable {
	background: #f0f0f0;
	color: #cccccc;
	cursor: pointer;
}

.gDatePicker td.udp_saturday {
	background: #a8c8f0;
}

.gDatePicker td.udp_saturday_disabled {
	color: #cccccc;
	background: #e1eaf4;
	cursor: default;
}

.gDatePicker td.udp_sunday {
	background: #f8b0b0;
}

.gDatePicker td.udp_sunday_disabled {
	color: #cccccc;
	background: #f4e1eb;
	cursor: default;
}

.gDatePicker td.udp_selected {
	background: #594949;
	color: #ffffff !important;
}

/* month body */
.gDatePicker .udp_picker_month td {
	width: 33%;
}

/* year body */
.gDatePicker .udp_picker_year td {
	width: 33%;
}

/* parts flag */
.gDatePicker td.udp_current {
	color: #bf0000;
}

.gDatePicker td.udp_disabled_current {
	color: #e68787;
}

.gDatePicker td.udp_disabled {
	background: #f0f0f0;
	color: #cccccc;
	cursor: default;
}

.gDatePicker td.udp_hover {
	background: #e37e09;
	color: #ffffff;
}

