.flash {
	font-size: 20px;
	background-color:#CC6633;
	color: white;
	height: 30px;
	width: 100%;
	text-align: center;
}

.header {
	border-bottom: 1px solid silver;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}
  
.header-top {
	height: 60px;
	display: flex;
	justify-content:space-between;
	color: rgb(100, 100, 100);
	margin-top: 10px;
	margin-bottom: 10px;
}

.header-logo {
	display: flex;
	align-items: flex-end;
	img {
		height: 60px;
		margin-right: 15px;
	}
	h1 {
		font-size: 32px;
	}
}
  
  
.header-login a {
	line-height: 60px;
	font-size: 20px;
	color: rgb(100, 100, 100);
}

.header-tab {
	display: flex;
	font-size: 20px;
	width: 1000px;
	margin: 0 auto;
	li {
		height: 50px;
		width: 150px;
		text-align: center;
		line-height: 50px;
		font-weight: bold;
		position: relative;
	}
	a {
		color: #333333;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	a:hover {
		color: navy;
	}
}
   
.active {
	border-bottom: 5px solid navy;
	a {
		color: navy;
	}
}
